# PostgreSQL
DB=defaultdb
DB_HOST=
DB_USER=
DB_PWD=
DB_PORT=25060
DB_SSL_REQUIRED=true

# Mux API (Basic Auth)
MUX_TOKEN_ID=
MUX_TOKEN_SECRET=

# Juanstream clipping API
JUANSTREAM_API_URL=https://callme.juanstream.com/trim-video/
